<!--<h1>navmenu components works</h1>-->
<!--<ul class="navbar-nav">
    <li class="nav-item"> <a class="nav-link" [routerLink]="['/bin']">Bin</a> </li>
    <li class="nav-item"> <a class="nav-link" [routerLink]="['/aisle']">Aisle</a> </li>

</ul>-->

<div class="sidebar" data-color="rose" data-background-color="black" data-image="~/Content/assets/img/sidebar-1.jpg">

    <div class="logo">

        <a href="#" class="simple-text logo-normal">
            <img src="../../Content/assets/img/nepro-logo.png" />
        </a>



    </div>
    <div class="sidebar-wrapper">
        <div class="user">
            <div class="user-info">
                <a data-toggle="collapse" href="#collapseExample" class="username">
                    
                    <span>
                        John Doe
                        <b class="caret"></b>
                    </span>
                </a>
                <div class="collapse" id="collapseExample">
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span class="sidebar-mini"><img src="../../Content/assets/img/profile_icon.png" />
                                </span>
                                <span class="sidebar-normal"> My Profile </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span class="sidebar-mini">
                                    <img src="../../Content/assets/img/edit_icon.png" />
                                </span>
                                <span class="sidebar-normal"> Edit Profile </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span class="sidebar-mini">
                                    <img src="../../Content/assets/img/setting_icon.png" />
                                </span>
                                <span class="sidebar-normal"> Settings </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <ul class="nav">
            <li class="nav-item active ">
                <a class="nav-link" href="dashboard.html">
                    <span class="material-icons">
                        <img src="../../Content/assets/img/dashboard_icon.png" />
                    </span>
                    <p> Dashboard </p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" data-toggle="collapse" href="#pagesExamples">
                    <span class="material-icons">
                        <img src="../../Content/assets/img/setup_icon.png" />
                    </span>
                    <p>
                        Setup
                        <b class="caret"></b>
                    </p>
                </a>
                <div class="collapse" id="pagesExamples">
                    <ul class="nav">
                        <li class="nav-item ">
                            <a class="nav-link" href="pages/pricing.html">
                                <span class="sidebar-mini"> <img src="../../Content/assets/img/aisle_icon.png" /> </span>
                                <p class="sidebar-normal"> Aisle </p>
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="pages/rtl.html">
                                <span class="sidebar-mini"> <img src="../../Content/assets/img/rack_icon.png" /> </span>
                                <p class="sidebar-normal"> Rack </p>
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="pages/timeline.html">
                                <span class="sidebar-mini"> <img src="../../Content/assets/img/bin_icon.png" /> </span>
                                <p class="sidebar-normal"> Bin </p>
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="pages/login.html">
                                <span class="sidebar-mini"> <img src="../../Content/assets/img/truck_icon.png" /> </span>
                                <p class="sidebar-normal"> Vehicle Type </p>
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="pages/register.html">
                                <span class="sidebar-mini"> <img src="../../Content/assets/img/truck_icon.png" /> </span>
                                <p class="sidebar-normal"> Truck Type </p>
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="pages/lock.html">
                                <span class="sidebar-mini"> <img src="../../Content/assets/img/truckDriver_icon.png" /> </span>
                                <p class="sidebar-normal"> Truck Driver </p>
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="pages/user.html">
                                <span class="sidebar-mini"> <img src="../../Content/assets/img/truck_icon.png" /> </span>
                                <p class="sidebar-normal"> Truck </p>
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="pages/error.html">
                                <span class="sidebar-mini">
                                    <img src="../../Content/assets/img/stillage_icon.png" />
                                </span>
                                <p> Stillage </p>
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="pages/error.html">
                                <span class="sidebar-mini"> <img src="../../Content/assets/img/sticker_icon.png" /> </span>
                                <p class="sidebar-normal"> Sticker </p>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item ">
                <a class="nav-link">
                    <span class="material-icons"> <img src="../../Content/assets/img/user_icon.png" /></span>
                    <p>
                        User

                    </p>
                </a>

            </li>
            <li class="nav-item ">
                <a class="nav-link">
                    <span class="material-icons"> <img src="../../Content/assets/img/role_icon.png" /></span>
                    <p>
                        Role

                    </p>
                </a>

            </li>
            <li class="nav-item ">
                <a class="nav-link">
                    <span class="material-icons"> <img src="../../Content/assets/img/roleAssignment_icon.png" /></span>
                    <p>
                        Role Assignment

                    </p>
                </a>

            </li>
            <li class="nav-item ">
                <a class="nav-link" data-toggle="collapse" href="#formsExamples">
                    <i class="material-icons">content_paste</i>
                    <p>
                        Forms
                        <b class="caret"></b>
                    </p>
                </a>
                <div class="collapse" id="formsExamples">
                    <ul class="nav">
                        <li class="nav-item ">
                            <a class="nav-link" href="forms/regular.html">
                                <span class="sidebar-mini"> RF </span>
                                <span class="sidebar-normal"> Regular Forms </span>
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="forms/extended.html">
                                <span class="sidebar-mini"> EF </span>
                                <span class="sidebar-normal"> Extended Forms </span>
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="forms/validation.html">
                                <span class="sidebar-mini"> VF </span>
                                <span class="sidebar-normal"> Validation Forms </span>
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="forms/wizard.html">
                                <span class="sidebar-mini"> W </span>
                                <span class="sidebar-normal"> Wizard </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item ">
                <a class="nav-link" data-toggle="collapse" href="#tablesExamples">
                    <i class="material-icons">grid_on</i>
                    <p>
                        Tables
                        <b class="caret"></b>
                    </p>
                </a>
                <div class="collapse" id="tablesExamples">
                    <ul class="nav">
                        <li class="nav-item ">
                            <a class="nav-link" href="tables/regular.html">
                                <span class="sidebar-mini"> RT </span>
                                <span class="sidebar-normal"> Regular Tables </span>
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="tables/extended.html">
                                <span class="sidebar-mini"> ET </span>
                                <span class="sidebar-normal"> Extended Tables </span>
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="tables/datatables.net.html">
                                <span class="sidebar-mini"> DT </span>
                                <span class="sidebar-normal"> DataTables.net </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item ">
                <a class="nav-link" data-toggle="collapse" href="#mapsExamples">
                    <i class="material-icons">place</i>
                    <p>
                        Maps
                        <b class="caret"></b>
                    </p>
                </a>
                <div class="collapse" id="mapsExamples">
                    <ul class="nav">
                        <li class="nav-item ">
                            <a class="nav-link" href="maps/google.html">
                                <span class="sidebar-mini"> GM </span>
                                <span class="sidebar-normal"> Google Maps </span>
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="maps/fullscreen.html">
                                <span class="sidebar-mini"> FSM </span>
                                <span class="sidebar-normal"> Full Screen Map </span>
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="maps/vector.html">
                                <span class="sidebar-mini"> VM </span>
                                <span class="sidebar-normal"> Vector Map </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="widgets.html">
                    <i class="material-icons">widgets</i>
                    <p> Widgets </p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="charts.html">
                    <i class="material-icons">timeline</i>
                    <p> Charts </p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="calendar.html">
                    <i class="material-icons">date_range</i>
                    <p> Calendar </p>
                </a>
            </li>
        </ul>
    </div>
</div>